[MYSQL_DB]
uap_2c = {'host':'172.30.14.239', 'user':'admin', 'password':'Admin@123', 'database':'uap_2c'}
hess = {'host':'172.30.14.239', 'user':'admin', 'password':'Admin@123', 'database':'hess'}

[MODE]
mode2 = {
    'test002系统创建主流程':'all',
    'toB,组织管理':'all',
    'toB,成员管理':'all',
    'toB,用户管理':'all',
    'toB,设备库管理':'all',
    'toB,角色管理':'all',
    '组织下有用户直接删除组织B':'all',
    '电站名称重复':'all',
    '电站下有设备C端直接删除电站':'all',
    '电站下有设备B端直接删除电站':'all',
    '电站下有设备B端直接删除C用户':'all',
    '组织下有非空电站B端直接删除组织':'all',
    'toB,电站管理-空电站':'all',
    'toB,电站管理-非空电站':'all',
    'toB,电站管理-光伏并网':'all',
    'toB,电站管理-光伏储能':'all',
    'name字段_power_insertC':'all','agent字段_power_insertC':'all','downPrice_power_insertC':'all','timezone_power_insertC':'all','systemType_power_insertC':'all', 'pvCapacity_power_insertC':'all','currencyUnit_power_insertC':'all',
    'powerStation_enstor_insertC':[1,2,3,4,5,6,7,8,10,11,12], 'inverterSn_enstor_insertC':'all','productType_enstor_insertC':'all',
    'powerStation_enstor_updateC':'all', 'id_enstor_updateC':'all','productType_enstor_updateC':'all', 'demo':'all',
    'name字段_power_updateC':'all', 'agent字段_power_updateC':'all', 'downPrice_power_updateC':'all', 'timezone_power_updateC':'all', 'systemType_power_updateC':'all', 'pvCapacity_power_updateC':'all', 'currencyUnit_power_updateC':'all'
    }
mode11 = {'name字段_power_updateB':'all','agent字段_power_updateB':'all','upPrice_power_updateB':'all','timezone_power_updateB':'all','currencyUnit_power_updateB':'all','systemType_power_updateB':'all', 'pvCapacity_power_updateB':'all'}

mode_1 = {'timezone_power_updateB':[1,2,3,4,5]}
mode——2 = {'param_insertDev':'all'}
mode = {'customer_power_insertB':[1,2,3,4,6]}